.Calendar h2 {
  width: 200px;
  text-align: center;
}

.Calendar section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calendar .weekday-column {
  box-sizing: border-box;
  min-width: 120px;
  width: 12.5%;
}

.Calendar .dates-container {
  align-items: flex-start;
}