.Day {
  position: relative;
  box-sizing: border-box;
  padding-right: 5px;
  height: 100px;
  width: 100%;
  border: 1px solid grey;
}

.Day h3 {
  margin: 5px 0 10px 0;
}

.Day ul {
  padding: 0;
  margin-left: 2px;
  width: 100%;
}

.Day ul li {
  width: 100%;
  font-size: 12px;
  list-style-type: none;
}

.Day .event {
  margin: 0 0 5px 20px;
  width: fit-content;
  list-style-type: circle;
}

.Day .holidays {
  background-color: #F3D9EF;
}